@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    background: rgb(28,0,36);
    background: linear-gradient(90deg, rgb(17, 0, 255) 0%, rgb(9, 59, 121) 35%, rgba(34,0,255,1) 100%);
}
a{
    color: red;
}
.cnt{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:white;
}
    
nav{
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:red;
}

.a1{
    left:5px;
}
.a2{
    left:20px;
}